* {
  background-color: rgb(254, 254, 164);
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 0 0 0.5em 0;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

input, textarea {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

img {
  width: auto;
  max-height: 300px;
  align-self: center;
  margin-bottom: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formulario {
  padding: 10px;
  display: flex;
  width: 25vw;
  margin-right: 2em;
}

.usuario {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: 1px solid black;
  border-radius: 0.5em;
}

#card-descricao {
  word-break: break-all;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

button {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 50%;
}
